.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
    background-color: #Fdb0c0;
    border-radius: 20px;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 1.2rem;
    text-decoration: none;
    color: #FF007F;
    position: relative;
    margin-bottom: 24px;
    padding-left: 25px;
}
.col h4::before{
   position: absolute;
   height: 2px;
   width: 50px;
   Left:0;
   bottom: .8px;
}
.col ul li:not(last child){
    margin-bottom: 15px;
    list-style: none;

}
.col ul li a{
    color: #FF007F;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s;
}
.col ul li a:hover{
    color: white;
}
.col .social{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width:40px;
    background-color: #FF007F;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    text-decoration: none;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
}

