
body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}
header {
  background-color:white;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  padding-left: 30px;
}
.logo a {
  color:black;
  font-size: 28px;
  text-decoration: none;
  
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin-right: 22px;
}
nav ul li a{
  background-image: linear-gradient(
    to right,
    #FDB0C0,
    #FDB0C0 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  font-size: 19px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav ul li a:before {
  content: '';
  background:#FDB0C0;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
 background-position: 0;
}

nav ul li a:hover::before {
  width:100%;
}

.actions button {
  background-color: white;
  color: black;
  font-size: 16px;
  border-color: #FDB0C0;
  padding: 6px 12px;
  border-color: #000;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}
.login-btn {
  background-color: #333;
}
.actions button:hover {
  background-color:#FDB0C0;
  opacity: 0.7;
  color: white;
  border-color: white;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
  }

  .user-actions {
      margin-top: 10px;
  }

  .user-actions button {
      margin: 5px 0;
  }
}

.section-heading {
  font-size: 29px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}
.section-heading {
  display: inline-block;
  position: relative;
  color: black;
}

.section-heading::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FDB0C0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.section-heading:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #FDB0C0 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: black;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #FDB0C0;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
 
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #ff0070;

  font-family: Roboto, Arial, sans-serif;
  height: 7vmin;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vmin;
}
.animated-title > div {
  height: 165%;
  overflow:hidden;
  width: 100%;
  padding-bottom:-4px;
  padding-top: 4px;
}
.animated-title > div div {
  font-size: 4vmin;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2vmin 0;
  position:right;
}

.animated-title > div.text-top {
  border-bottom: 0.5vmin solid rgb(250, 0, 96);
  position:right;
  animation: 0.7s;
  animation-delay: 0.7s;
  text-align: center;
  top: -50px;
}
.animated-title > div.text-top div {
  animation: showTopText 0.7s;
  animation-delay: 0.7s;
  bottom: -50px;
  
  animation-fill-mode: forwards;
transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color:#ff0070;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText  0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  top: -50px;
  text-align: center;
  transform: translate(0, -100%);
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  margin-left: 180px;
  height: 600px;
  text-align: center;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 30px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:transparent;
  color:black;
  font-size: 30px;
  text-align:center;
  position:relative;
  padding:30px;

}
.why h1{
  font-size:70px;
  text-align:center;
float-items:center;
}

.why a {
  background-image: linear-gradient(
    to right,
    #ff0582,
    rgb(231, 9, 161) 50%,
    rgb(245, 0, 86) 50%
  );
  text-align: left;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.why a:before{
    text-align: left;
  content: '';
  background: #ff007f;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.why a:hover {
 background-position: 0;
}

.why a:hover::before{
  width: 100%;
}
   .why a {
    text-align: left;
  background-image: linear-gradient(
    to right,
    #ff0582,
   rgb(231, 9, 161) 50%,
    rgb(219, 0, 88) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  padding: 0 10px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.why a:before{
  content: '';
  background: #ff0582;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.why a:hover {
 background-position: 0;
}

.why a:hover::before{
  width: 100%;
}

/* Presentational Styles */
.why ul {

  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  height: 50vh;
  place-items:left;
}
h6{
  background-color:#ff0070;
  height:50px;
  border-radius:40px;
  font-size:50px;
}
